.container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 32px;
}

.message {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: #eb3f5e;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #78828a;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.link:hover {
  color: #f9f9f9;
  transform: translateY(-2px);
}

.link:active {
  transform: translateY(1px);
}
